name: Publish
run-name: Release ${{ github.ref_name }}

on:
  release:
    types:
      - published

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    name: Publish
    uses: jhae-de/jhae-de/.github/workflows/node-package-publish.yaml@main
    with:
      node-version: 24
      package-version: ${{ github.ref_name }}
